<html>
    <head>
        <title>Блог Антона</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог Антона.</a></h1>
        </div>

        <div>
            <p>Опубликовано: 07.01.2020, 11:43</p>
            <h2><a href="">Мой первыврпарвеповпортаыаврвсй пост.</a></h2>
            <p>Впервые в жизни программирую веб сайт на django.</p>
        </div>

        <div>
            <p>Опубликовано: 07.01.2020, 11:43</p>
            <h2><a href="">Мой второй пост.</a></h2>
            <p>Чувствую себя необычно.</p>
        </div>

        <div>
          <p>Опубликовано: 07.01.2020, 11:43</p>
          <h2><a href="">Мой третий пост.</a></h2>
          <p>У моей любимой жены сегодня день рожденья. Ура!</p>
        </div>

        <div>
          <p>Опубликовано: 07.01.2020, 14:23</p>
    </body>
</html>
